/* Dashboard.css */

/* Contenedor principal */
.dashboard-container {
    margin-top: 65px;
  }
  
  /* Estilo para las tarjetas (Cards) */
  .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .card-body {
    text-align: center;
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
  /* Filtros de búsqueda y botones */
  .input-group {
    margin-bottom: 20px;
  }
  
  button {
    border-radius: 5px;
    font-size: 1rem;
  }
  
  /* Estilo para las tablas */
  .table {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .table th, .table td {
    text-align: center;
    padding: 15px;
    font-size: 1.1rem;
  }
  
  .table th {
    background-color: #f8f9fa;
    color: #495057;
  }
  
  .table-striped tbody tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  
  /* Botones de acciones */
  button.warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
  }
  
  button.success {
    background-color: #5cb85c;
    border-color: #5cb85c;
  }
  
  button.danger {
    background-color: #d9534f;
    border-color: #d9534f;
  }
  
  /* Estilo para el gráfico */
  .card-body canvas {
    margin-top: 30px;
  }
  