/* Estilo general */
body {
  background-color: #f8f9fa;
  font-family: 'Roboto', sans-serif;
}

/* Título principal */
h2 {
  font-size: 2rem;
  color: #333;
  font-weight: bold;
}

/* Estilo de la Grid */
.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  max-height: 70vh; /* Máxima altura para la grid */
  overflow-y: auto; /* Scroll vertical si los productos exceden el alto máximo */
}

/* Ajustar tamaño de las tarjetas */
.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  height: 300px; /* Altura fija para las tarjetas */
}

.card:hover {
  transform: translateY(-10px);
}

.card-body {
  padding: 15px;
  height: 100%;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-text {
  font-size: 0.95rem;
  color: #555;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-text strong {
  color: #333;
}

.card .btn {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.card .btn:hover {
  background-color: #0056b3;
}

/* Estilo para la tabla y el carrito */
h3 {
  font-size: 1.5rem;
  color: #333;
}

.table th {
  background-color: #007bff;
  color: white;
  text-align: center;
}

.table td {
  text-align: center;
  font-size: 1rem;
}

.table {
  border-radius: 10px;
  border: 1px solid #ddd;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

h4 {
  font-size: 1.25rem;
  color: #333;
  font-weight: bold;
}

button {
  font-size: 1.25rem;
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
}

button:hover {
  opacity: 0.9;
}

button:focus {
  outline: none;
}

/* Ajustes para los campos del formulario */
.form-group label {
  font-weight: bold;
  color: #333;
}

.form-control {
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
